/*INICIO ESTILOS "body"*/
body{
	font-family: verdana;
}
/*FIN ESTILOS "body"*/
/*INICIO ESTILOS "cabezera" */
#main-header {
	background: #333;
	color: white;
	height: 80px;
}	
	#main-header a {
		color: white;
	}
 
/*
 * Logo
 */
#logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}
	#logo-header:hover {
		color: #99cc00;
	}
	
	#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 1.2em;
	}
	
	#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #999;
	}
	
 
/*
 * Navegación
 */
.cab {
	float: left;
	margin-left: 25%;
}
	.cab ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	
	.cab ul li {
		display: inline-block;
		line-height: 80px;
	}	
			
	.cab ul li a {
		display: block;
		padding: 0 10px;
		text-decoration: none;
	}
			
	.cab ul li a:hover {
		background: #9AAE04;
	}

.imagenEveris{
	width: 100px;
}

.ePRIM {
float: right;
margin:3%;
font-size: 20px;
}
/*FIN ESTILOS "cabezera" */
.cerrar_ses{
	background-color: #c0c0c0;
	padding:2px;
}
.boton{
	margin:2% 4% 5%;
}